#navbar{
    height: 80px;
}
#previous_next{
    position: absolute;
    top: 380px;
    left: 60px;
}

#previous_next>button{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 50px;
    margin: 10px;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

#previous_next>button:hover{
    color: black;
    background-color: white;
}

#img_comment{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 200px;
    left: 50px;
    color: white;
    font-size: 18px;
}

#top_slider img{
    /* position: absolute;
    top: 80px; */
    width: 100vw;
    height: 450px;
}

/* Top Headings */

#heading{
    text-align: center;
}
#heading>h1{
    font-family: ff-more-web-pro,serif;
    font-weight: 400;
    font-size: 40px;
}

#heading>p{
    margin-top: 0.5rem;
    font-family: benton-sans,Helvetica,"Sans-serif";
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
    font-size: 17px;
}

#heading>a>button{
    height: 2.5rem;
    padding: 3px 1rem;
    font-size: .75rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;    
    min-width: 112px;
    transition: all .1s cubic-bezier(.16,.8,.45,1);
    white-space: nowrap;
    font-weight: 700;
    margin: 10px;
}

#heading>a:nth-child(3) button{
    background-color: #e51075;
    border: 1px solid #e51075;
    color: #fff;
}

#heading>a:nth-child(4) button{
    color: #e51075;
    border: 1px solid #c8c8c8;
    background-color: #fff;
}

/* Populer Project */

#populer_project{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin-top: 30px;
    margin-bottom: 20px;
}

#populer_project>h1{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.3;
    font-family: ff-more-web-pro,Georgia,"Serif";
    color: #2a2a2a;
}

#populer_project>#paggination_button>button{
    font-size: 35px;
    border-radius: 50%;
    font-family: benton-sans,Helvetica,"Sans-serif";
    font-weight: 500;
    /* line-height: 1.5; */
    letter-spacing: 0;
    color: #2a2a2a;
    margin-left: 20px;
    border: 1px solid #2a2a2a;
    background: transparent;
    cursor: pointer;
}

#populer_project>#paggination_button>button:hover{
    color: white;
    background-color: #2a2a2a;
}

#populer_project_container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

#populer_project_container>div{
    border: 1px solid rgb(190, 190, 190);
}

#populer_project_container>div:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#populer_project_container>div>h3,p,h4{
    padding:0px 10px;
}

#populer_project_container img{
    width: 100%;
    height: 250px;
}

/* 4 big div with background image */

#background_images{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 50px;
}

#background_images>a{
    text-decoration: none;
}

#background_images>a>div:nth-child(1){
    width: 100%;
    height: 400px;    
    background-size: cover;
    background-position-x: 50%;
    background-position-y: center;      
}



#background_images>a:nth-child(1)>div:nth-child(1){
    background-image: url("https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1664384340/dxlpczk2t7etftjh21st.jpg");
    
}

#background_images>a:nth-child(2)>div:nth-child(1){
    background-image: url("https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1664384293/po4aiqjrnquowbppa89z.jpg");
}

#background_images>a:nth-child(3)>div:nth-child(1){
    background-image: url("https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1655332492/xmwmdtjfvyy2mbbre4qo.png");
    
}

#background_images>a:nth-child(4)>div:nth-child(1){
    background-image: url("https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1659985896/hugs8qpmkxx1uvwalnz4.jpg");    
}

.background{
    position: relative;
    top: 40%;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.3;
    font-family: ff-more-web-pro,Georgia,"Serif";
    z-index: 10;
    color: #fff;
}

.links{
    display: flex;
    justify-content: space-between;       
}

.links>h4:nth-child(1){
    font-size: 1rem;
    line-height: 0.5;
    font-weight: 700;
    letter-spacing: 0;
    font-family: ff-more-web-pro,Georgia,"Serif";
    color: #2a2a2a;    
    margin-left: -10px;
}

.links>h4:nth-child(2){
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    line-height: 0.5;
    font-family: benton-sans,Helvetica,"Sans-serif";
    color: #2a2a2a;    
    margin-right: -10px;
}

.links>h4:nth-child(2):hover{
    color: #e51075;
}

/* what-to-do */

#what-to-do{
    width: 90%;
    height: 350px;
    margin: auto;
    background-image: url("https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fit,w_auto,g_center,q_auto:best,dpr_1.0,f_auto/homepage/cf-bg-desktop-lg.jpg");
}

#what-to-do>a{
    text-decoration: none;
}

#what-to-do div{
    position: relative;
    top: 20%;
    width: 50%;
    margin: auto;
    text-align: center;
}

#what-to-do div>h1{
    font-family: ff-more-web-pro,serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    color: #2a2a2a;
    font-size: 2.3rem;
}

#what-to-do div>p:nth-child(2){
    font-size: 1.05rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0;
    font-family: benton-sans,Helvetica,"Sans-serif";
    color: #2a2a2a;
}

#what-to-do div>p:nth-child(3){
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: benton-sans,Helvetica,"Sans-serif";
    color: #2a2a2a;
}

#what-to-do div>p:nth-child(3):hover{
    color: #e51075;
}

/* category */

#category{
    text-align: center;
    margin-top: 40px;
}

#category>h1{
    font-family: ff-more-web-pro,serif;
    font-weight: 400;
    font-size: 30px;
    font-size: 2.1rem;    
}

#category>p{
    margin-top: 1rem;
    font-family: benton-sans,Helvetica,"Sans-serif";
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
    color: #2a2a2a;
    font-size: 16px!important;
}

#category>a>button{
    padding: 3px 1rem;
    height: 2.5rem;
    font-size: .75rem;
    color: #2a2a2a;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    transition: all .1s cubic-bezier(.16,.8,.45,1);
    white-space: nowrap;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: benton-sans,Helvetica,"Sans-serif";
    margin-top: 1rem;
    overflow-x: visible;
    overflow-y: visible;
    cursor: pointer;
}

#category>a>button:hover{
    background-color: #ece9e9;    
}

#category_link{
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 10px;
}

#category_link a{
    text-decoration: none;
}

#category_link>a>div:hover{
    background-color: #f0eeee;
}

#category_link img{
    margin-top: 10px;
    width: 35%;
}

#category_link p{
    font-size: .75rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0;
    font-family: benton-sans,Helvetica,"Sans-serif";
    height: 1rem;
    margin-top: 0.75rem;
    color: #2a2a2a;
}

/* Review */

#review_text{    
    text-align: center;
}

#review_text>h1{
    font-family: ff-more-web-pro,serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #2a2a2a;
}

#review_text>p{
    margin-top: 1rem;
    font-family: benton-sans,Helvetica,"Sans-serif";
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
    color: #2a2a2a;
    font-size: 16px!important;
}

#review_image{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin-top: 50px;
}

#review_image img{
    width: 100%;
}

#review_image>div>p:nth-child(2){
    margin-top: 1rem;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: benton-sans,Helvetica,"Sans-serif";
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
    color: #2a2a2a;
    font-size: 16px!important;
    margin-left: -10px;
}

#review_image>div>p:nth-child(3){
    font-size: 1rem;
    line-height: 1.5;
    max-width: 100%;
    font-weight: 500;
    letter-spacing: 0;
    font-family: benton-sans,Helvetica,"Sans-serif";
    color: #6a6a6a;
    margin-top: 0.5rem;    
    margin-left: -10px;
}

#review_image>div>a:nth-child(4){
    text-decoration: none;
    margin-top: 0.75rem;
    font-family: benton-sans,Helvetica,"Sans-serif";
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0;
    color: #2a2a2a;
    font-size: 12px!important;
}

#review_image>div>a:nth-child(4):hover{
    color: #fa0477;
}

/* Bottom Heading */

#bottom_text>h1{
    text-align: center;
    padding: 0.75rem;
    font-family: ff-more-web-pro,serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #2a2a2a;
}

#bottom_text>p{    
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0;
    font-family: benton-sans,Helvetica,"Sans-serif";
    width: 66.6666666667%;
    padding: 0.75rem;        
    margin: auto;
    text-align: center;
}

#bottom_button{
    text-align: center; 
}

#bottom_button>a>button{
    height: 2.5rem;
    padding: 3px 1rem;
    font-size: .75rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;    
    min-width: 112px;
    transition: all .1s cubic-bezier(.16,.8,.45,1);
    white-space: nowrap;
    font-weight: 700;
    margin: 10px;
}

#bottom_button>a:nth-child(1) button{
    background-color: #e51075;
    border: 1px solid #e51075;
    color: #fff;
}

#bottom_button>a:nth-child(2) button{
    color: #e51075;
    border: 1px solid #c8c8c8;
    background-color: #fff;
}